<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>

    <link rel="icon" type="image/png" href="../image/4.png" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/about.css">
</head>

<body>
    <div class="container">
        <div class="loading-screen">
            <div class="loader"></div>
        </div>
        <header id="header">
            <div class="navbar">
                <div class="group">
                    <a href="../../index.html">
                        <h2 class="icon-t">WClock</h2>
                    </a>
                </div>
            </div>
        </header>
        <section class="content center">
            <div class="box">
                <img src="../image/avatar.png" class="avatar" width="100">
                <h4>Hello, I'am </h4>
                <h1>Ferdiansyah N</h1>

                <p class="des">I am a student from Ciamis, <br> my hobby is creating websites.</p>

                <div class="body">
                    <h3>General Information</h3>
                    <nav>
                        <ul>
                            <li>
                                <span>Date Of Birth : <span class="string">Jan 08 2005</span></span>
                            </li>
                            <li>
                                <span>Email : <span class="string">ikahsoadah@gmail.com</span></span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>School : <span class="string">SMKN 2 CIAMIS</span></span>
                            </li>
                            <li>
                                <span>Addres : <span class="string">Cigembor Ciamis, Jawabarat</span></span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
        <footer id="footer" class="classic">
            <div class="footer-left">
                <h3>W<span>Clock</span></h3>
                <p class="footer-links">
                    <a href="../index.html">Home</a> ·
                    <a href="about.html">About</a> ·
                    <a href="contact.html">Contact</a>
                </p>
                <p class="footer-company-name">WClock &copy; 2021</p>
            </div>
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Cigembor, Ciamis</span> Jawa barat, Indonesia</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a>ikahsoadah@gmail.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About The Website</span> This is the first website I created, I hope you guys like this website, please criticize me to develop this website even better.
                    <br><br> don't judge me because my website responsive is still bad :)
                </p>
            </div>
        </footer>
    </div>

    <script src="../js/main.js"></script>
</body>

</html>